.status-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.status-bar__column:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-bar__column i{
    margin: 0 10px;
}
